@import "tailwindcss";

@theme {
  --color-primary: #007BFF;
  --color-accent: #FF2E63;
  --color-secondary: #FFC107;
  --color-light: #F9FAFB;
  --color-dark: #1F2937;
  
  --font-heading: "Poppins", sans-serif;
  --font-body: "Roboto", sans-serif;
  
  --background-accent-gradient: linear-gradient(135deg, #FF2E63 0%, #007BFF 100%);
}

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
